/* adjust display of header */
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 3em;

}

h2{
    font-size: 2.5em;
    font-weight: bold;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.2em;
    font-weight: bold;
}

p{
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 1.2em;
    margin-top: 0.2em;
}
.headerlogo{
    background-image: url(../images/cm-logo.png);
    height: 50px;
    width: 107px;
    background-size: cover;
    background-repeat: no-repeat;
}

.eventsheader h3{
    font-weight: bold;
}


.aboutustitle{
    padding-bottom: 3em;
    padding-top: 6em;
}
header nav ul li {
    display: inline;
    margin-left: 0.3em;
    
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0.5em 0.8em;
    border-radius: 100px;
}
header nav ul li a:hover{
    background: darkgray;
    color: white;
}
.currentpage a{
    background:darkgray;
    color:white;
}

header .inner{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    height: 4em;
    align-items: center;
}
.inner {
    width: 75%;
    margin: 0 auto;
}

.heroinner{
    width: 75%;
    margin: 0 auto;
}

.heroimage {
    display: grid; 
    grid-template-columns: 100%;
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

.hero {
    background-image: url(../images/cmlogo.png);
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    padding-bottom: 40%;
}

.overview{
    width: 70%;
    margin: 5em 15%;
    padding: 1em;
    justify-content: center;
    align-items: center;
}



/* Homepage gallery of upcoming events: */
.upcomingeventsshortcut a{
    color: black;
    text-decoration: none;
    margin-bottom: 1em;
}
.upcomingeventsshortcut a:hover{
    background: darkgray;
    color: black;
    font-size: 1.01em;
}
.eventsgallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    padding-top: 2em;
}
.eventsgallery img{
    max-width: 90%;
    border-radius: 20px;
    max-height: 100%;
}
.eventsgallery div{
    display: inline;
    min-height: 10em;
    justify-content: center;
}
.eventsgallery h3{
    text-align: left;
    
}
.eventsgallery .button {
    display: inline-block;
    background-color: teal;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}
#aboutussubtitle{
    padding-bottom: 1em;
}


/* Who are we area, home page */
.whotitle{
    margin-top: 4em;
}
.who {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;;
    margin-top: 2em;
}
.who div {
    display: flex;
    justify-content: center;
    padding: 1em;

}
.who h3{
    

}
.who div.photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 20em;
    border-radius: 10px;
}
.edwina {
    background-image: url(../images/edwinajanscropped.jpg);
}
.amy {
    background-image: url(../images/amyjarvis);
}
.rachel {
    background-image: url(../images/rachel.png);
}


/* our Patron, home page */
.patron{ 
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:0.5em;;
    margin-bottom:2em;
    margin-top:1em;
    padding-bottom: 3em;
}
.patron div{
    min-height: 5em;
    padding: 1em;
}
.patron div.photo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 10em;
    border-radius: 10px;
    width: 90%;
}
.ross{
    background-image: url(../images/timross.png);
}
#patrontitle{
    padding-top: 2em;
}
.ross{
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 10px;
}
.patron > div:last-child {
    grid-column: 2 / 3;
}



/* partners */
.partnerstitle{
    text-align: left;
    padding-top: 3em;
    padding-bottom: 3em;
}
.partners{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}
.partner{
    padding: 20px;
    text-align: center;
}
.partner h4{
    margin-bottom: 2em;
    font-weight: bold;
}
.partnerimage{
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}
.partnerimage img{
    max-width: 100%;
}
.findoutbutton{
    margin-top: 4em;
}









/* Events Page */
.upcomingevents{
    text-align: right;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.pastevents{
    text-align: left;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.eventsheader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.currenteventsheader a:link {
    padding: 1em;
    text-decoration: none;
    color: black;
}
.currenteventsheader a:visited{
    padding: 1em;
    text-decoration: none;
    color: black;
}

.othereventsheader a:link {
    text-decoration: none;
    padding: 1em;
    color: rgb(175, 175, 175);
}
.othereventsheader a:visited{
    text-decoration: none;
    padding: 1em;
    color: rgb(175, 175, 175);
}
.othereventsheader a:hover {
    text-decoration: none;
    padding: 1em;
    color: black;
}


.eventsboxes{
    display: grid;
    gap: 1em;
}

.eventinfobox1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 5em;
    gap: 1em;
    padding-top: 2em;

}
.eventinfobox1 img{
    max-width: 100%;
    border-radius: 20px;
}
.eventinfobox1 h3{
    padding-bottom: 1em;
}

.button {
    color: white;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    background-color: teal;
    border-radius: 100px;
}
.button:hover {
    background: rgb(54, 172, 172);
    color: #ffffff;
}


/* Everything for the gallery on the resources page is below */
.gallery {
    display: grid;
    /* try using different units here... */
    /* if 4 values = 4 columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    column-gap:.5em;
    row-gap: 1em;
    margin: 2em 0;
}
.gallery a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
/* make the boxes look nice */
.gallery div {
    background-color: rgb(137,137,137);
    min-height: 20em;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
}

.gallery div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* set the opacity of the background image */
    background-color: rgb(137, 137, 137);
    opacity: 0; /* initial opacity set to 0 */
    transition: opacity 0.5s ease; /* transition on opacity change */
    z-index: -1;
    border-radius: 10px;
}
.gallery div:hover::before {
    opacity: 0.8; /* opacity changed on hover */
}
.gallery .callam {
    background-color: rgb(137,137,137);
    background-image: url(../images/callam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
}
/* set a background image on one of the boxes */
.gallery .library {
    background-color: rgb(137,137,137);
    background-image: url(../images/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .universityhouse {
    background-color: rgb(137,137,137);
    background-image: url(../images/university-house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .churchill {
    background-color: rgb(137,137,137);
    background-image: url(../images/churchill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .urambi {
    background-color: rgb(137,137,137);
    background-image: url(../images/urambi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .giralang {
    background-color: rgb(137,137,137);
    background-image: url(../images/giralang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .musicschool {
    background-color: rgb(137,137,137);
    background-image: url(../images/schoolofmusic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .civicsquare {
    background-color: rgb(137,137,137);
    background-image: url(../images/civicsquare.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}
.gallery .colonialmutual {
    background-color: rgb(137,137,137);
    background-image: url(../images/colonialmutual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
/* position the text in the box */
}

.gallery h3 {
    color: #000000;
    text-align: center;
    /* hide the text */
    display: none;
    font-weight: bold;
}
.gallery div:hover {
    /* add a grayscale flter */
    filter:grayscale(0.8);
    /* opacity: 50%; */
    border-radius: 10px;
}
.gallery div:hover h3 {
    /* make the text visible again on hovers */
    display: block;
    /* opacity: 200%; */
}

#resourcestitle{
    padding-top: 2em;
}


/* All the footer things below */
footer {
    background: #5d5d5d;

}

.footercontents{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}









/* media queries    
This defines how the site changes when the screen size is changed */

@media (aspect-ratio: 2/1){
    /* I made this to use my ultrawide at home, but might affect 
    on 4k screens too. How to combat? Maybe add a height factor*/
    .inner{
        width: 50%;
        margin: 0 auto;
    }
}
@media screen and (max-width: 93em) {
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 48em) {
    .gallery{
        grid-template-columns: 100%;
    }
    .eventsgallery{
        grid-template-columns: 1fr;
    }
    
}

