
body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 3em;

}

h2{
    font-size: 2.5em;
    font-weight: bold;
}

h3{
    font-size: 2em;
}

h4{
    font-size: 1.2em;
    font-weight: bold;
}

p{
    font-size: 1em;
    line-height: 1.2em;
    margin-bottom: 1.2em;
    margin-top: 0.2em;
}

/* Header attributes */
.headerlogo{
    background-image: url(../images/cm-logo.png);
    height: 50px;
    width: 107px;
    background-size: cover;
    background-repeat: no-repeat;
}

.eventsheader h3{
    font-weight: bold;
}


.aboutustitle{
    padding-bottom: 3em;
    padding-top: 6em;
}
header nav ul li {
    display: inline;
    margin-left: 0.3em;
    
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0.5em 0.8em;
    border-radius: 100px;
}
header nav ul li a:hover{
    background: darkgray;
    color: white;
}
.currentpage a{
    background:darkgray;
    color:white;
}

header .inner{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    height: 4em;
    align-items: center;
}
.inner {
    width: 75%;
    margin: 0 auto;
}

.heroinner{
    width: 75%;
    margin: 0 auto;
}

.heroimage {
    display: grid; 
    grid-template-columns: 100%;
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

.hero {
    background-image: url(../images/cmlogo.png);
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    padding-bottom: 40%;
}

.overview{
    padding-top: 3em;
    padding-bottom: 10em;
    text-align: center;
    justify-content: center;
    align-items: center;
}



/* Homepage gallery of upcoming events: */
.upcomingeventsshortcut a{
    color: black;
    text-decoration: none;
    margin-bottom: 1em;
}
.upcomingeventsshortcut a:hover{
    background: darkgray;
    color: black;
    font-size: 1.01em;
}
.eventsgallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    padding-top: 2em;
}
.eventsgallery img{
    max-width: 90%;
    border-radius: 20px;
    max-height: 100%;
}
.eventsgallery div{
    display: inline;
    min-height: 10em;
    justify-content: center;
}
.eventsgallery h3{
    text-align: left;
    
}
.eventsgallery .button {
    display: inline-block;
    background-color: teal;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100px;
}
#aboutussubtitle{
    padding-bottom: 1em;
}


/* Who are we area, home page */
.whotitle{
    margin-top: 4em;
}
.who {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    text-align: center;
}
.who div {
    max-width: 100%;
    justify-content: center;
    padding: 1em;

}
.who img{
    max-width: 100%;
    border-radius: 20px;
}
.who div.photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 20em;
}
.who h4{
    padding-bottom: 1em;
}



/* our Patron, home page */
.patron{ 
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:0.5em;;
    margin-bottom:2em;
    margin-top:1em;
    padding-bottom: 3em;
}
.patron div{
    min-height: 5em;
    padding: 1em;
}
.patron div.photo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 10em;


}

#patrontitle{
    padding-top: 2em;
}
.patron img{
    width: 100%;
    border-radius: 10px;
}
.patron div {
    grid-template-columns: 1fr 2fr;
}



/* partners */
.partnerstitle{
    text-align: left;
    padding-top: 3em;
    padding-bottom: 3em;
}
.partners{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}
.partner{
    padding: 20px;
    text-align: center;
}
.partner h4{
    margin-bottom: 2em;
    font-weight: bold;
}
.partnerimage{
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}
.partnerimage img{
    max-width: 100%;
}
.findoutbutton{
    margin-top: 4em;
}









/* Events Page */
.upcomingevents{
    text-align: right;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.pastevents{
    text-align: left;
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.eventsheader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.currenteventsheader a:link {
    padding: 1em;
    text-decoration: none;
    color: black;
}
.currenteventsheader a:visited{
    padding: 1em;
    text-decoration: none;
    color: black;
}

.othereventsheader a:link {
    text-decoration: none;
    padding: 1em;
    color: rgb(175, 175, 175);
}
.othereventsheader a:visited{
    text-decoration: none;
    padding: 1em;
    color: rgb(175, 175, 175);
}
.othereventsheader a:hover {
    text-decoration: none;
    padding: 1em;
    color: black;
}


.eventsboxes{
    display: grid;
    gap: 1em;
}

.eventinfobox1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 5em;
    gap: 1em;
    padding-top: 2em;

}
.eventinfobox1 img{
    max-width: 100%;
    border-radius: 20px;
}
.eventinfobox1 h3{
    padding-bottom: 1em;
}

.button {
    color: white;
    text-decoration: none;
    padding: 1em;
    text-align: center;
    background-color: teal;
    border-radius: 100px;
}
.button:hover {
    background: rgb(54, 172, 172);
    color: #ffffff;
}




/* Defines attributes for Resources Page */
#resourcestitle{
    padding-top: 2em;
}


.resourcespage{
    padding-top: 2em;
}
.resourcespage h4{
    padding-top: 1em;
    padding-bottom: 2em;
}
.resourcesimages {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
    align-items: center;
    justify-content: center; 
}
.resourcesimages img{
    border-radius: 20px;
    width: 100%;
}


/* Everything for the Canberra's Modern section on the resources page is below */
/* Note: I did not put all of them in here */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    column-gap:.5em;
    row-gap: 1em;
    margin: 2em 0;
}
.gallery a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
/* Defines attributes to make the boxes look nice */
.gallery div {
    background-color: rgb(137,137,137);
    min-height: 20em;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
}

.gallery div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* set the opacity of the background image */
    background-color: rgb(255, 255, 255);
    opacity: 0; /* initial opacity set to 0 */
    transition: opacity 0.5s ease; /* transition on opacity change */
    z-index: -1; /* Figuring out that this is what I needed took hours */
    border-radius: 10px;
}
.gallery div:hover::before {
    opacity: 0.8; /* opacity changed on hover */
}
.gallery .callam {
    background-color: rgb(137,137,137);
    background-image: url(../images/callam.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* removes grayscale */
    filter:grayscale(0);
    /* position the text in the box */
    background-position: center center;
}
.gallery .library {
    background-color: rgb(137, 137, 137);
    background-image: url(../images/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0);
    background-position: center center;
}
.gallery .universityhouse {
    background-color: rgb(137,137,137);
    background-image: url(../images/university-house.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0);
    background-position: center center;
}
.gallery .churchill {
    background-color: rgb(137,137,137);
    background-image: url(../images/churchill.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0);
    background-position: center center;
}
.gallery .urambi {
    background-color: rgb(137,137,137);
    background-image: url(../images/urambi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0);
    background-position: center center;
}
.gallery .giralang {
    background-color: rgb(137,137,137);
    background-image: url(../images/giralang.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0);
    background-position: center center;
}
.gallery .musicschool {
    background-color: rgb(137,137,137);
    background-image: url(../images/schoolofmusic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0);
    background-position: center center;
}
.gallery .civicsquare {
    background-color: rgb(137,137,137);
    background-image: url(../images/civicsquare.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0);
    background-position: center center;
}
.gallery .colonialmutual {
    background-color: rgb(137,137,137);
    background-image: url(../images/colonialmutual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(0);
    background-position: center center;
}

.gallery h3 {
    color: #000000;
    text-align: center;
    /* hide the text */
    display: none;
    font-weight: bold;
}
.gallery div:hover {
    /* add a grayscale flter */
    filter:grayscale(0.8);
    border-radius: 10px;
}
.gallery div:hover h3 {
    /* make the text visible again on hovers */
    display: block;

}




/* Defines attributes for block of content under images on Resources page */
.videos{
    padding-top: 5em;
}

/* Defines attributes for Virtual Tour block */
.virtualtour h2{
    padding-bottom: 1em;
}
.virtualtour a{
    text-decoration: none;
    color: black;
    text-decoration: underline;

}
.virtualtourlink{
    padding-bottom: 1em;
}
.virtualtourtext{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
}
.virtualtour img{
    width: 100%;
    border-radius: 20px;
    margin-right: 20px;
}

/* Defines attributes for the Growing Up Modern Series */
/* Note: I did not put all of them in here */
.modernpanel{
    padding-top: 3em;
}
.modernpanel h2{
    padding-bottom: 1em;
}
.modernpanelgrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.2em;
    width: 100%;
}
.modernpanelvideobox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    gap: 0.2em;
}
.modernpanelvideobox iframe{
    padding-right: 1em;
}
.modernpanelvideobox h3{
    padding-left: 1em;
    width: 50%;
}

/* Defines attributes for individual video blocks */
.singlevideo{
    padding-top: 5em;
}
.singlevideo h2{
    padding-bottom: 1em;
}
.singlevideogrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.videoblurb{
    justify-content: center;
    align-items: center;
    width: 100%;   
}




/* All the footer things below */

.footercontents{
    margin-top: 5em;
    border-top: 1px solid black;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}









/* media queries    
This defines how the site changes when the screen size is changed */

/* defining attributes for ultrawide and 4K screens */
@media (min-width: 120em){
    .inner{
        width: 50%;
        margin: 0 auto;
    }
}
/* Defining attributes for small computer/tablet screen  */
@media screen and (max-width: 93em) {
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Defining attributes for phone screen */
@media screen and (max-width: 48em) {
    .inner{
        width: 90%;
    }
    .eventsgallery{
        grid-template-columns: 1fr;
    }
    .patron{
        grid-template-columns: 1fr;
    }
    .who{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: 100%;
    }
    .gallery h3{
        display: block;
    }
    .indexlink{
        display: none;
    }
    .virtualtourtext{
        grid-template-columns: 1fr;
    }
    .singlevideo{
        padding-top: 5em;
    }
    .singlevideogrid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .videoblurb{
        align-items: left;
        width: 100%;   
    }
    .modernpanelvideobox{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: 100%;
        gap: 0.2em;
        padding-bottom: 2em;
    }
    .modernpanelvideobox h3{
        width: 100%;
        
    }
    .videos h3{
        font-size: 1.5em;
    }
    .videos h2{
        font-size: 2em;
    }
    .videos iframe{
        width: 100%;
    }
}

